<%= simple_form_for worksheet, html: { class: "needs-validation", novalidate: true } do |form| %>
  <% if worksheet.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= pluralize(worksheet.errors.count, "error") %> prohibited this worksheet from being saved:</h4>
      <ul>
        <% worksheet.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="container mt-4">
    <h3>Marine Reported On (MRO)</h3>
    
    <div class="row mt-3">
      <div class="col-md-3">
        <%= form.input :mro_rank,
          as: :select,
          collection: Worksheet::OFFICER_RANKS,
          label: "Rank",
          input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>

      <div class="col-md-5">
        <%= form.input :mro_name, label: "Name (Last Name, First Name, Middle Initial)", input_html: { class: "form-control" } %>
      </div>

      <div class="col-md-4">
        <%= form.input :mro_billet, label: "Billet", input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="row mt-3">
      <div class="col-md-2">
        <%= form.input :mro_unit, label: "Unit", input_html: { class: "form-control" } %>
      </div>

      <div class="col-md-2">
        <%= form.input :mro_component,
          as: :select,
          collection: Worksheet::COMPONANTS,
          label: "Component",
          input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>

      <div class="col-md-4">
        <%= form.input :mro_status,
          as: :select,
          collection: Worksheet::USMCR_STATUSES,
          label: "Status", input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>

      <div class="col-md-4">
        <%= form.input :reporting_occasion,
          label: "Reporting Occasion",
          as: :select,
          collection: Worksheet::REPORTING_OCCASIONS,
          input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>

      <div class="col-md-4 mt-3">
        <%= form.input :from_date, label: "From Date", as: :string, input_html: {class: "form-control datepicker" } %>
      </div>

      <div class="col-md-4 mt-3">
        <%= form.input :to_date, label: "To Date", as: :string, input_html: {class: "form-control datepicker" } %>
      </div>

      <div class="col-md-4 mt-3">
        <%= form.input :mmsb_due_date, label: "MMSB Due Date", as: :string, input_html: {class: "form-control datepicker"} %>
      </div>
    </div>

    <div class="row mt-3">
      <h3>Reporting Senior (RS)</h3>
      <div class="col-md-3">
        <%= form.input :rs_rank,
          as: :select,
          collection: Worksheet::OFFICER_RANKS,
          label: "Rank",
          input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>
      <div class="col-md-5">
        <%= form.input :rs_name, label: "Name", input_html: { class: "form-control" } %>
      </div>
      <div class="col-md-4">
        <%= form.input :rs_billet, label: "Billet", input_html: { class: "form-control" } %>
      </div>
    </div>

    <div class="row mt-3">
      <h3>Reviewing Officer (RO)</h3>
      <div class="col-md-3">
        <%= form.input :ro_rank,
          as: :select,
          collection: Worksheet::OFFICER_RANKS,
          label: "Rank",
          input_html: { class: "form-control" },
          include_blank: false,
          required: false %>
      </div>
      <div class="col-md-5">
        <%= form.input :ro_name, label: "Name", input_html: { class: "form-control" } %>
      </div>
      <div class="col-md-4">
        <%= form.input :ro_billet, label: "Billet", input_html: { class: "form-control" } %>
      </div>
    </div>

    <%= render 'education', form: form %>

    <h3 class="mt-5">Recommendations</h3>

    <div class="mt-3">
      <%= form.input :commendatory, label: "This is a commendatory Fitness Report", as: :boolean, input_html: { class: "form-check-input checkbox-spacing" } %>
    </div>

    <div class="mt-3">
      <%= form.input :commendatory_description, label: "Commendatory Description", as: :text, input_html: { class: "form-control", rows: 3 } %>
    </div>

    <div class="mt-3">
      <%= form.input :recommended_comments, label: "Recommended Comments", as: :text, input_html: { class: "form-control", rows: 3 } %>
    </div>

    <div class="mt-3">
      <%= form.input :amplifying_information, label: "Amplifying Information", as: :text, input_html: { class: "form-control", rows: 3 } %>
    </div>

    <div class="mt-3">
      <%= form.input :recommended_comparative_assessment, label: "Recommended Comparative Assessment", input_html: { class: "form-control" } %>
    </div>

    <div class="form-group text-center mt-5">
      <%= form.submit "Submit", class: "btn btn-primary btn-dark" %>
    </div>
    <div class="mt-5"></div>
  </div>
<% end %>
