<div id="<%= dom_id worksheet %>">
  <p>
    <strong>Mro rank:</strong>
    <%= worksheet.mro_rank %>
  </p>

  <p>
    <strong>Mro name:</strong>
    <%= worksheet.mro_name %>
  </p>

  <p>
    <strong>Mro billet:</strong>
    <%= worksheet.mro_billet %>
  </p>

  <p>
    <strong>Mro unit:</strong>
    <%= worksheet.mro_unit %>
  </p>

  <p>
    <strong>Mro component:</strong>
    <%= worksheet.mro_component %>
  </p>

  <p>
    <strong>Mro status:</strong>
    <%= worksheet.mro_status %>
  </p>

  <p>
    <strong>Reporting occasion:</strong>
    <%= worksheet.reporting_occasion %>
  </p>

  <p>
    <strong>Mmsb due date:</strong>
    <%= worksheet.mmsb_due_date %>
  </p>

  <p>
    <strong>From date:</strong>
    <%= worksheet.from_date %>
  </p>

  <p>
    <strong>To date:</strong>
    <%= worksheet.to_date %>
  </p>

  <p>
    <strong>Rs rank:</strong>
    <%= worksheet.rs_rank %>
  </p>

  <p>
    <strong>Rs name:</strong>
    <%= worksheet.rs_name %>
  </p>

  <p>
    <strong>Rs billet:</strong>
    <%= worksheet.rs_billet %>
  </p>

  <p>
    <strong>Ro rank:</strong>
    <%= worksheet.ro_rank %>
  </p>

  <p>
    <strong>Ro name:</strong>
    <%= worksheet.ro_name %>
  </p>

  <p>
    <strong>Ro billet:</strong>
    <%= worksheet.ro_billet %>
  </p>

  <p>
    <strong>Commendatory:</strong>
    <%= worksheet.commendatory %>
  </p>

  <p>
    <strong>Commendatory description:</strong>
    <%= worksheet.commendatory_description %>
  </p>

  <p>
    <strong>Recommended comments:</strong>
    <%= worksheet.recommended_comments %>
  </p>

  <p>
    <strong>Amplifying information:</strong>
    <%= worksheet.amplifying_information %>
  </p>

  <p>
    <strong>Recommended comparative assessment:</strong>
    <%= worksheet.recommended_comparative_assessment %>
  </p>

</div>
